<div class="card">
  <h1>Argyle</h1>
  <p>Not just for socks!</p>
  <p>From an original <a href="https://codepen.io/carpenumidium/pen/jbBOxp">CSS pattern</a> by carpe numidium</p>
  {{outlet}}
</div>
