<div class="card">
  <h1>Biohazard</h1>
  <p>Suddenly I want some PPE.</p>
  <p>From an original <a href="https://codepen.io/lunamatic/pen/MBaXwB">CSS pattern</a> by Sandra Davis</p>
  {{outlet}}
</div>
