<div class="card">
  <h1>Upholstery</h1>
  <p>Like the fancy couch no one can sit on.</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#upholstery">CSS pattern</a> by Nate Eagle</p>
  {{outlet}}
</div>
