<div class="card">
  <h1>Cubes (Up)</h1>
  <p>Clearly, QBert's neighborhood.</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#japanese-cube">CSS pattern</a> by Lea Verou</p>
  {{outlet}}
</div>
