<div class="card">
  <h1>Hexagons</h1>
  <p>A gateway to tabletop gaming</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#honeycomb">CSS pattern</a> by Paul Salentiny</p>
  {{outlet}}
</div>
