<div class="card">
  <h1>Loose Plaid</h1>
  <p>An interlaced textile pattern.</p>
  <p>From an original <a href="https://codepen.io/praveenpuglia/pen/MyNpXQ">CSS pattern</a> by Praveen Puglia</p>
  {{outlet}}
</div>
