<div class="card">
  <h1>Rainbow Burst Background</h1>
  <p>A splash of color.</p>
  <p>From an original <a href="https://codepen.io/bennettfeely/pen/jOEjmXK">CSS pattern</a> by Bennett Feely</p>
  {{outlet}}
</div>
