  <div  class="sidebar">
    <div  class="sidebar-content">
      <ex-panda-list
        id="list-root"
        orientation="vertical"
      >
        <ex-panda-item  name="Rainbow Burst" onclick="rebuildOn('rainbow_burst')"></ex-panda-item>
        <ex-panda-group
          name="Wood Grains"
          color="#111111"
          font="italic small-caps bold 1.2em 'Poiret One', cursive;"
          back_font="italic small-caps bold 0.6em 'Poiret One', cursive;"
          bg="linear-gradient(-30deg, #555555, #CCCCCC);"
        >
          <ex-panda-item  name="Ash" onclick="rebuildOn('ash')"></ex-panda-item>
          <ex-panda-item  name="Mahogony" onclick="rebuildOn('mahogony')"></ex-panda-item>
          <ex-panda-item  name="Cherry" onclick="rebuildOn('cherry')"></ex-panda-item>
          <ex-panda-item  name="Ebony" onclick="rebuildOn('ebony')"></ex-panda-item>
        </ex-panda-group>
        <ex-panda-group
          name="Textiles"
          color="#111111"
          font="italic small-caps bold 1.2em 'Poiret One', cursive;"
          back_font="italic small-caps bold 0.6em 'Poiret One', cursive;"
          bg="linear-gradient(-30deg, #555555, #CCCCCC);"
        >
          <ex-panda-item  name="Weave" onclick="rebuildOn('weave')"></ex-panda-item>
          <ex-panda-item  name="Tartan" onclick="rebuildOn('tartan')"></ex-panda-item>
          <ex-panda-item  name="Tight Plaid" onclick="rebuildOn('tight_plaid')"></ex-panda-item>
          <ex-panda-item  name="Loose Plaid" onclick="rebuildOn('loose_plaid')"></ex-panda-item>
          <ex-panda-item  name="Upholstery" onclick="rebuildOn('couch')"></ex-panda-item>
        </ex-panda-group>
        <ex-panda-group
          name="Other Textures"
          color="#111111"
          font="italic small-caps bold 1.2em 'Poiret One', cursive;"
          back_font="italic small-caps bold 0.6em 'Poiret One', cursive;"
          bg="linear-gradient(-30deg, #555555, #CCCCCC);"
        >
          <ex-panda-item  name="Spikey" onclick="rebuildOn('spikey')"></ex-panda-item>
          <ex-panda-item  name="Spotty" onclick="rebuildOn('spotty')"></ex-panda-item>
          <ex-panda-item  name="Wavey" onclick="rebuildOn('wavey')"></ex-panda-item>
          <ex-panda-item  name="Big Waves" onclick="rebuildOn('big_waves')"></ex-panda-item>
          <ex-panda-item  name="Diamond" onclick="rebuildOn('diamond')"></ex-panda-item>
          <ex-panda-item  name="Blueprint" onclick="rebuildOn('blueprint')"></ex-panda-item>
          <ex-panda-item  name="Aquatic" onclick="rebuildOn('aquatic')"></ex-panda-item>
          <ex-panda-item  name="Spirals" onclick="rebuildOn('spirals')"></ex-panda-item>
          <ex-panda-item  name="Radial Halftone" onclick="rebuildOn('radial_halftone')"></ex-panda-item>
          <ex-panda-item  name="Triangles" onclick="rebuildOn('triangle')"></ex-panda-item>
          <ex-panda-item  name="Arches" onclick="rebuildOn('arches')"></ex-panda-item>
          <ex-panda-item  name="Vertical Stripes" onclick="rebuildOn('vertical_stripes')"></ex-panda-item>
        </ex-panda-group>
      </ex-panda-list>
    </div>
  </div>
