<div class="card">
  <h1>Spikey Background</h1>
  <p>Like a bunch of studs page.</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#pyramid">CSS pattern</a> by Paul Salentiny</p>
  {{outlet}}
</div>
