<div class="card">
  <h1>Starry</h1>
  <p>From your eyes to your screen</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#stars">CSS pattern</a> by Nicolas Gallagher</p>
  {{outlet}}
</div>
