<div class="card">
  <h1>Triangle</h1>
  <p>Triangles, without the man.</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#half-rombes">CSS pattern</a> by Valentin Agachi</p>
  {{outlet}}
</div>
