<div class="card">
  <h1>Vertical Stripes</h1>
  <p>Monostripe Madness</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#cicada-stripes">CSS pattern</a> by Randy Merril</p>
  {{outlet}}
</div>
