<div class="card">
  <h1>Weave</h1>
  <p>An woven textile pattern.</p>
  <p>From an original <a href="https://leaverou.github.io/css3patterns/#chocolate-weave">CSS pattern</a> by Paul Salentiny</p>
  {{outlet}}
</div>
